<!-- views/userAccount/addedProducts.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" type="text/css" href="/css/productManagenent.css">
    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="header">
        <a href="/"><div class="logo">FajrantInator.pl</div></a>
        
        <div class="cart-div">
            <a href="<%= (accountType === 'guest') ? '/login' : '/logout' %> "><div class="button primary"><%= (accountType === 'guest') ? 'Zaloguj się' : 'Wyloguj się' %></div></a>
        </div>
    </div>
    <div class="container">
        <h1> <a href="/account" class="a-center"><span class="material-symbols-outlined">arrow_back_ios</span></a> Dodane przez ciebie:</h1>

        <% if (products.length > 0) { %>
                <% products.forEach(product => { %>
                    <div class="field">
                        <b><%= product.name %></b> - <i><%= product.description.length > 50 ? product.description.substring(0, 47) + `...` : product.description %></i>
                        <form method="post" action="addedProducts/deleteProduct">
                            <input type="hidden" name="productID" value="<%= product.id %>">
                            <input class="button secondary" type="submit" style="background-color: red; color: white;" value="Usuń">
                        </form>
                        <form method="post" action="/account/editProduct">
                            <input type="hidden" name="productID" value="<%= product.id %>">
                            <input class="button secondary" type="submit" value="Edytuj">
                        </form>
                    </div>
                <% }); %>
        <% } else { %>
            <div class="field"><img src="/css/media/ghost.svg" class="ghost"> Nie dodano jeszcze żadnego produktu.</div>
        <% } %>
</body>
</html>
