<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1><%= radioParams.label %></h1>
    <form action="/account/quiz/submit-quiz" method="post" onsubmit="return validateForm()"> 
        <fieldset>
            <legend><%= radioParams.name %></legend>
            <% for (let i = 0; i < radioParams.f_option.length + 1; i++) { 
                if (i === radioParams.nr - 1) { %>
                <label>
                    <input type="radio" name="Option" value="<%= radioParams.t_option %>">
                    <input type="hidden" name="tOption" value="<%= radioParams.t_option %>">
                    <%= radioParams.t_option %>
                </label>
                <% } else if (i < radioParams.nr - 1){ %>
                    <label>
                        <input type="radio" name="Option" value="<%= radioParams.f_option[i] %>">
                        <%= radioParams.f_option[i] %>
                    </label>
                <% } else { %>
                    <label>
                        <input type="radio" name="Option" value="<%= radioParams.f_option[i-1] %>">
                        <%= radioParams.f_option[i-1] %>
                    </label>
                <% } %>
                <br>
            <% } %>
        </fieldset>
        <button id="btn" type="submit">Submit</button>
    </form>
    <script src="account/quiz" ></script>
    <script>
        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted ||
                ( typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                alert("This page cannot be restored from the cache. Please use the navigation buttons provided.");
                window.location.reload();
            }
        });
        function validateForm() {
            const radioButtons = document.querySelectorAll('input[name="Option"]');
            let selectedOption = null;
            
            for (const radioButton of radioButtons) {
                if (radioButton.checked) {
                    selectedOption = radioButton.value;
                    break;
                }
            }
            
            if (!selectedOption) {
                alert("You haven't selected any option");
                return false; 
            }

            return true;
        }
    </script>
</body>
</html>
