<!-- TODO: fix radioparamsoptions-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1><%= radioParams.label %></h1>
    <form action="/submit-quiz" method="post"> 
        <fieldset>
            <legend><%= radioParams.name %></legend>
            <% for (let i = 0; i < radioParams.f_option + 1; i++) { 
                if (i === radioParams.nr) { %>
                <label>
                    <input type="radio" name="Option <%= i %>" value="<%= radioParams.t_option %>">
                    <%= option.label %>
                </label>
                <% } else { %>
                    <label>
                        <input type="radio" name="Option <%= i %>" value="<%= radioParams.f_option[i] %>">
                        <%= option.label %>
                    </label>
                <% } %>
                <br>
            <% } %>
        </fieldset>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
