<article class="product-item">
    <!-- TODO: product image -->
    <div class="product-details">
        <p class="product-name"><%= product.name %></p>
        <p class="product-price">£<%= product.price.toFixed(2) %></p>
        <div class="product-actions">
            <a class="btn btn-view" href="/product/<%= product.id %>">View Product</a>
            <form id="addToCartForm" action="cart/addToCart" method="post">
                <input type="hidden" name="id" value="<%= product.id %>">
                <input type="hidden" name="name" value="<%= product.name %>">
                <input type="hidden" name="description" value="<%= product.description %>">
                <input type="hidden" name="price" value="<%= product.price %>">
                <input type="hidden" name="image" value="<%= product.image %>">
                <input type="hidden" name="courseName" value="<%= product.courseName %>">
                <input type="hidden" name="listNumber" value="<%= product.listNumber %>">
                <input type="hidden" name="taskNumber" value="<%= product.taskNumber %>">
                <input type="hidden" name="solution" value="<%= product.solution %>">
                <button type="submit">Add to Cart</button>
            </form>
        </div>
    </div>
</article>

<script>
    function addToCart() {
        document.getElementById("addToCartForm").submit();
    }
</script>
