<!DOCTYPE html>
<html>
<head>
    <title>Fajrant!</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body>
    <div class="header">
        <div class="logo">FajrantInator.pl</div>

        <div class="cart-div">
            <a href="/cart"><span class="material-symbols-outlined">shopping_cart</span></a>
            <div class="cart-number <% if(cart.length > 0){
                %>beat<%
            } %>">(<%= cart.length %>)</div>
            <a href="<%= (accountType === 'guest') ? 'login' : 'logout' %> "><div class="button primary"><%= (accountType === 'guest') ? 'Zaloguj się' : 'Wyloguj się' %></div></a>
        </div>
    </div>
    <div class="container">
        <div class="mainPanel">
            <% if (username) {%>
                <h1>Witaj <%= username %>! </h1>
            <%} else {%>
                <!-- <h1>Witaj <%= accountType %>! </h1> -->
                <h1>Witaj Nieznajomy! </h1>
            <% } %>
            
            <h2>Poczuj fajrant. Zdamy to razem!</h2>

            <div class="nav">
                <% if (accountType === 'admin') { %>
                    <a href="admin"><div class="button secondary">Panel administratora</div></a>
                <% } else if (accountType === 'user') {%>
                    <a href="account"><div class="button secondary">Moje konto</div></a>
                <% } %>    
                <a href="listing"><div class="button secondary">Przeglądaj produkty</div></a>
            </div>
            
        </div>
    </div>
</body>
</html>
