<!-- views/checkout/order.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <% if (error) { %>
            <h1>Oops! Something went wrong.</h1>
            <p><%= error %></p>
        <% } else { %>
            <h1>Your Order Confirmation</h1>

            <p>Thank you for your purchase, <%= order.username %>!</p>
            
            <p>Order Details:</p>
            <ul>
                <% products.forEach(product => { %>
                    <li>
                        <p><strong><%= product.name %></strong></p>
                        <p>Price: £<%= product.price %></p>
                        <!-- Add more product details as needed -->
                    </li>
                <% }) %>
            </ul>

            <p>Total Cost: £<%= order.cost %></p>

            <p>Your order has been placed successfully.</p>
        <% } %>

        <button onclick="window.location.href = '/';">Go to Homepage</button>
    </div>
</body>
</html>
