<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/css/products.css">
    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="header">
        <a href="/"><div class="logo">FajrantInator.pl</div></a>
        
        <div class="cart-div">
            <a href="/cart"><span class="material-symbols-outlined">shopping_cart</span></a>
            <div class="cart-number <% if(cart.length > 0){
                %>beat<%
            } %>">(<%= cart.length %>)</div>
            <a href="<%= (user === 'guest') ? 'login' : 'logout' %> "><div class="button primary"><%= (user === 'guest') ? 'Zaloguj się' : 'Wyloguj się' %></div></a>
        </div>
    </div>
    <div class="container">
        

        <div class="products">
            <h1> <a href="/" class="a-center"><span class="material-symbols-outlined">arrow_back_ios</span></a> Produkty:</h1>
        <% products.forEach(function(item) { %>
                <% if (user.type === 'admin' || (user !== 'guest' &&(user.orders.includes(item.id)))) { %>
                    <%- include('includes/product-item_B', { product: item }) %>
                <% } else { %>
                    <%- include('includes/product-item', { product: item }) %>
                <% } %>
        <% }) %>
        </div>

        <button onclick="window.location.href = '/';">Go to Homepage</button>
    </div>
</body>
</html>
