<!DOCTYPE html>
<html>
<head>
    <title>Display Users</title>
    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="/css/dpUsers.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="header">
        <a href="/"><div class="logo">FajrantInator.pl</div></a>
        
        <div class="cart-div">
            
        </div>
    </div>
    <div class="container">
        <a class="backButton" href="/"><span class="material-symbols-outlined">arrow_back_ios</span></a>
    <h1>Users</h1>
        <% users.forEach(user => { 
            if(user.id === me) { return; }%>

            <div class="field">
                <div class="userDetails">
                    <span class="material-symbols-outlined">person</span><h3><%= user.username %></h3>
                    <span class="material-symbols-outlined">mail</span><%= user.email %>
                    <span class="material-symbols-outlined">admin_panel_settings</span><%= user.type %>
                <%# user.orders %>
                </div>

            
                <div class="userActionsForm">
                    <form action="/admin/removeUser" method="post">
                        <input type="hidden" name="id" value="<%= user._id %>">
                        <button type="submit" class="button secondary">Usuń</button>
                    </form>
                    <form action="/admin/toggleAccountType" method="post">
                        <input type="hidden" name="id" value="<%= user._id %>">
                        <button type="submit" class="button secondary">Zmień uprawnienia</button>
                    </form>
                </div>
        </div>
        <% }) %>

</div>
</body>
</html>